body {
    background: #eef2f4;
    background: #e8e8e8;
    font-weight: normal;
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
    color: #657b83;
    padding: 5px 0 10px;
}

div#body_home {
    background: #eef2f4;
    padding: 30px 0 10px;
}

div#body_home p {
    margin: 0;
}

/* loading screen */
body div#loading_screen {
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -150px;
    width: 300px;
    height: 21px;
    font-size: 18px;
    background: #ebeded;
    border: 1px solid #073642;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    opacity: 1; /* set by javascript */
    -webkit-transition: opacity 0.8s linear;
}

/* topic bar */
#topic_bar {
    top: 0;
    left: 0;
    right: 0;
    color: #555;
    z-index: 400;
    opacity: 0.95;
    position: fixed;
    background: #ccc;
    padding: 6px 8px 8px;
    border-bottom: 1px solid #1c1c1c;
    -webkit-box-shadow: 0 1px 5px #1c1c1c;
}

#topic_bar a, #topic_bar a:hover {color: #586e75;}

/* links */
a {color: #586e75;}

a:hover {text-decoration: none;}


/* images */
a img {border: 0;}

img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    max-width: 95%;
}

.emoji {
    display: inline-block;
    height: 1.5em;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

/* base style for each line */
.line {
    position: relative;
    z-index: 1;
    margin: 15px 0 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.line.consecutive {
    margin-top: 0;
}

.linecontent {
    padding: 0;
    display: block;
    margin: 0;
    min-width: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sender {
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.consecutive .sender {
    display: none;
}

/* time */
 .time {
    display: none;
    background: #fff;
    color: #00aeef;
    font-size: 11px;
    right: 10px;
    top: 7px;
    padding: 1px 5px;
    position: absolute;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: color 0 -1px 1px;
    text-shadow: none;
}

.line:hover .time {
    display: block;
}

/* remember line */
#mark {
    position: relative;
    z-index: 295;
    border-bottom: 2px solid #e8e8e8;
    box-shadow: 0 1px 0 #fff;
    -webkit-transition: 0.2s linear;
    margin-top: 10px;
}

#mark + div p .message {
    display: block;
    margin-left: 0;
    text-align: left;
}

/* notice/ctcp/wallops/etc */
div[type=mode][command=mode],
div[type=mode].line {
    display: none;
}

div[type=ctcp],
div[type=wallops],
div[type=invite],
div[type=system],
div[type=join],
div[type=part],
div[type=kick],
div[type=quit],
div[type=kill],
div[type=nick],
div[type=website],
div[type=topic],
div[type=debug] {
    color: #aaa;
    font-style: italic;
    margin: 2px 8px;
    padding: 1px;
}

div[type=notice],
div[type=error],
div[type=reply],
div[type=error_reply],
div[type=debug_send],
div[type=debug_receive] {}

/* privmsg */
div[type=privmsg] {
    padding: 0 15px;
}

/* highlight */
div[type=privmsg][highlight=true],
div[type=action][highlight=true],
div[type=privmsg].selectedUser,
div[type=action].selectedUser {
    font-weight: bold !important;
}

div[type=action],
div[type=privmsg][highlight=true] {
    background: #e7e7e7;
    border-style: solid;
    border-width: 1px 5px;
    border-top-color: #ddd;
    border-bottom-color: #d4d4d4;
    box-shadow: 0 -1px 0 #d9d9d9;
    padding: 5px 10px;
}

div[type=action].consecutive,
div[type=privmsg][highlight=true].consecutive {
    padding: 0 10px;
}

div[type=privmsg] .sender,
div[type=action] .sender {
    text-decoration: none;
}

div[type=privmsg] .message,
div[type=action] .message {
    padding: 3px 0;
    color: #33404c;
    line-height: 17px;
    box-sizing: border-box;
    display: inline-block;
}

/* highlight color */
div[type=privmsg][highlight=true] {
    border-left-color: #eb008b;
    border-right-color: #eb008b;
}

/* action */
div[type=action] {
    border-left-color: #00aeef;
    border-right-color: #00aeef;
    font-style: italic;
}

div[type=action] .message {
    padding: 3px 0;
}

div[type=action] .message:before {
    display: none;
}

/* general event */
 div[type=join] .message:before {
    content: "→";
    color: #586e75;
    margin-right: 3px;
}

 div[type=kick] .message:before,
 div[type=part] .message:before,
 div[type=quit] .message:before {
    content: "←";
    color: #586e75;
    margin-right: 3px;
}

/* faking a "history" display */
div[sender=andbang] {
    background: #ddd;
    font-style: italic;
    opacity: 0.6;
    padding: 1px 40px;
}

/*div[sender=andbang].consecutive + div:not([sender=andbang]) {
    margin-top: 35px;
    border-top: 1px dashed #bbb;
}*/

div:not([sender=andbang]) + div[sender=andbang] {
    border-top: 1px dashed #888;
    margin-top: 30px;
}

div[sender=andbang][highlight=true].line {
    padding: 0 35px;
}

/* fixing other .consecutive messages that get borked cause of ^^ */
body[type=channel] div[type=mode] ~ div[command=privmsg] ~ div[type=privmsg].consecutive {
    background: none;
    font-style: normal;
    opacity: 1;
    padding: 0 0 0 15px;
}

/* nickname colors */
.inline_nickname {color: #2aa198;}
div[type=privmsg] .sender[type=myself], div[type=action] .sender[type=myself] {color: #2aa198;}
.sender[type=normal][colornumber='0'], .inline_nickname[colornumber='0'] {color: #859900;}
.sender[type=normal][colornumber='1'], .inline_nickname[colornumber='1'] {color: #268bd2;}
.sender[type=normal][colornumber='2'], .inline_nickname[colornumber='2'] {color: #6c71c4;}
.sender[type=normal][colornumber='3'], .inline_nickname[colornumber='3'] {color: #d33682;}
.sender[type=normal][colornumber='4'], .inline_nickname[colornumber='4'] {color: #dc322f;}
.sender[type=normal][colornumber='5'], .inline_nickname[colornumber='5'] {color: #cb4b16;}
.sender[type=normal][colornumber='6'], .inline_nickname[colornumber='6'] {color: #b58900;}
.sender[type=normal][colornumber='7'], .inline_nickname[colornumber='7'] {color: #d86a1f;}
.sender[type=normal][colornumber='8'], .inline_nickname[colornumber='8'] {color: #c490dd;}
.sender[type=normal][colornumber='9'], .inline_nickname[colornumber='9'] {color: #3f893f;}
.sender[type=normal][colornumber='10'], .inline_nickname[colornumber='10'] {color: #005a66;}
.sender[type=normal][colornumber='11'], .inline_nickname[colornumber='11'] {color: #c0749e;}
.sender[type=normal][colornumber='12'], .inline_nickname[colornumber='12'] {color: #9f1418;}
.sender[type=normal][colornumber='13'], .inline_nickname[colornumber='13'] {color: #16127c;}
.sender[type=normal][colornumber='14'], .inline_nickname[colornumber='14'] {color: #77538d;}
.sender[type=normal][colornumber='15'], .inline_nickname[colornumber='15'] {color: #006100;}
.sender[type=normal][colornumber='16'], .inline_nickname[colornumber='16'] {color: #f79970;}
.sender[type=normal][colornumber='17'], .inline_nickname[colornumber='17'] {color: #c64f7e;}
.sender[type=normal][colornumber='18'], .inline_nickname[colornumber='18'] {color: #4f7f99;}
.sender[type=normal][colornumber='19'], .inline_nickname[colornumber='19'] {color: #268bd2;}
.sender[type=normal][colornumber='20'], .inline_nickname[colornumber='20'] {color: #6c71c4;}
.sender[type=normal][colornumber='21'], .inline_nickname[colornumber='21'] {color: #d33682;}
.sender[type=normal][colornumber='22'], .inline_nickname[colornumber='22'] {color: #dc322f;}
.sender[type=normal][colornumber='23'], .inline_nickname[colornumber='23'] {color: #cb4b16;}
.sender[type=normal][colornumber='24'], .inline_nickname[colornumber='24'] {color: #b58900;}
.sender[type=normal][colornumber='25'], .inline_nickname[colornumber='25'] {color: #d86a1f;}
.sender[type=normal][colornumber='26'], .inline_nickname[colornumber='26'] {color: #c490dd;}
.sender[type=normal][colornumber='27'], .inline_nickname[colornumber='27'] {color: #3f893f;}
.sender[type=normal][colornumber='28'], .inline_nickname[colornumber='28'] {color: #005a66;}
.sender[type=normal][colornumber='29'], .inline_nickname[colornumber='29'] {color: #c0749e;}
.sender[type=normal][colornumber='30'], .inline_nickname[colornumber='30'] {color: #9f1418;}
.sender[type=normal][colornumber='31'], .inline_nickname[colornumber='31'] {color: #16127c;}
.sender[type=normal][colornumber='32'], .inline_nickname[colornumber='32'] {color: #77538d;}
.sender[type=normal][colornumber='33'], .inline_nickname[colornumber='33'] {color: #006100;}
.sender[type=normal][colornumber='34'], .inline_nickname[colornumber='34'] {color: #f79970;}
.sender[type=normal][colornumber='35'], .inline_nickname[colornumber='35'] {color: #c64f7e;}
.sender[type=normal][colornumber='36'], .inline_nickname[colornumber='36'] {color: #4f7f99;}




/* mirc color codes */

/* developers do not modify any of the below mentioned css elements
 these elements must be preserved to match static defenitions in the
 textual source code. — do not modify or delete! */

.effect[color-number='0'] { color: #ffffff; }
.effect[color-number='1'] { color: #000000; }
.effect[color-number='2'] { color: #000088; }
.effect[color-number='3'] { color: #008800; }
.effect[color-number='4'] { color: #ff0000; }
.effect[color-number='5'] { color: #880000; }
.effect[color-number='6'] { color: #880088; }
.effect[color-number='7'] { color: #ff8800; }
.effect[color-number='8'] { color: #ffff00; }
.effect[color-number='9'] { color: #00ff00; }
.effect[color-number='10'] { color: #008888; }
.effect[color-number='11'] { color: #00ffff; }
.effect[color-number='12'] { color: #0000ff; }
.effect[color-number='13'] { color: #ff00ff; }
.effect[color-number='14'] { color: #888888; }
.effect[color-number='15'] { color: #cccccc; }

.effect[bgcolor-number='0'] { background-color: #ffffff; }
.effect[bgcolor-number='1'] { background-color: #000000; }
.effect[bgcolor-number='2'] { background-color: #000088; }
.effect[bgcolor-number='3'] { background-color: #008800; }
.effect[bgcolor-number='4'] { background-color: #ff0000; }
.effect[bgcolor-number='5'] { background-color: #880000; }
.effect[bgcolor-number='6'] { background-color: #880088; }
.effect[bgcolor-number='7'] { background-color: #ff8800; }
.effect[bgcolor-number='8'] { background-color: #ffff00; }
.effect[bgcolor-number='9'] { background-color: #00ff00; }
.effect[bgcolor-number='10'] { background-color: #008888; }
.effect[bgcolor-number='11'] { background-color: #00ffff; }
.effect[bgcolor-number='12'] { background-color: #0000ff; }
.effect[bgcolor-number='13'] { background-color: #ff00ff; }
.effect[bgcolor-number='14'] { background-color: #888888; }
.effect[bgcolor-number='15'] { background-color: #cccccc; }
